@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Russo+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120vh;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-top:20px;
    padding-bottom: 20px;
}
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #4b0082;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.head{
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: white;
}
.nav-links{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.list{
    margin-left: 20px;
}
.links:hover{
    border-bottom: 2px solid blue;
}
.material-symbols-outlined {
  font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24;
  color: white;
}
.text{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.head-3{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fafad2;
}
.head-1{
    margin-top: 10px;
    font-size: 70px;
    font-weight:900;
    margin-left: -7px;
    color: #f5f5f5;
}
.para{
    text-align: justify;
    margin-top: 10px;
    font-size: 16px;
    color: #D3D3D3;
}
.container-2{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    padding: 50px;
    padding-top: 100px;
}
.adjust-image{
    margin-left: 200px;
    margin-top: -100px;
}
.style{
    background-color: #87cefa;
}
.btn{
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    width: 120px;
    background-color: transparent;
    border: 2px solid #f5f5f5;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: #20B2AA;
    color: #87cefa;
    border: none;
}
.container-3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #4b0082;
    width: 100%;
    padding: 50px;
    padding-top: 50px;
    padding-bottom:0px ;
    height: 60vh;
    margin-top: 50vh;
    overflow: hidden;
}
.about-us{
     height: 300px;
     width: 300px;
}
.quick-links{
    height: 200px;
    width: 200px;
}
.contact{
    height: 200px;
    width: 300px;
}
.social{
    word-spacing: 10px;
    margin-top: 30px;
}
.icons{
    font-size: 20px;
}
.new-icons{
    color: #f5f5f5;
    font-size: 20px !important;
}
.about-us-para{
    text-align: justify;
    margin-top: 20px;
    color: #D3D3D3;
    font-size: 12px;
}
.ql-para{
    color: #D3D3D3;
    font-size: 12px;
    margin-top: 5px;
}
.ql-h4{
    color: #f5f5f5;
}
.margin-adj{
    margin-top: 15px;
}
.ql-h2{
    color: #f5f5f5;
}
.move{
    margin-top: 10px;
}
.new-icons{
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}
.address{
    color: #D3D3D3;
    font-size: 12px;
    margin-top: -20px;
    margin-left: 28px;
}
.mob-nav{
    display: none;
}
@media screen and (min-width:600px){
.mob-bar{
    display: none;
}
.mob-nav{
    display: none;
}
footer{
      margin-top: 60px;
}
}
@media screen and (max-width:600px){
#menu{
   cursor: pointer;
}
.navbar{
    display: none;
 }
 header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #4b0082;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main{
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0px;
 }
.disp{
   margin-left: -180px;
}
.mob-bar{
    padding-bottom: 20px;
    transition: .5s ease-in-out;
}
.container-2{
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 0px;
    margin-top: 10px;
}
.adjust-image{
    width: 400px;
    height: 400px;
}
.text{
    margin-top: 40px;
    padding: 10px;
    padding-top: 50px;
    height: fit-content;
    width: fit-content;
}
.image{
    display: none;
}
.container-3{
    flex-direction: column;
    height: fit-content;
    padding: 50px;
    padding-top: 40px;
}
.about-us{
   height: 90px;
   width: fit-content;
   padding-bottom: 190px;
}
.quick-links{
    padding-top: 0px;
}
.contact{
   padding-top: 0px;
}
 .mob-nav{
    margin-left: 80%;
    list-style: none;
    height: 100%;    
}
#close{
    display: none ;
    cursor: pointer;
} 
.mob-li{
    margin-top: 15px;
}
.mob-links:hover{
    border-bottom: 2px solid blue;
}
}